/* CSS Document */
@import url("design-default.css");

body {
	overflow-Y:auto;
}

.btn-inline {
	margin-bottom:6px;
	margin-right:3px;
}

.grey {
	color:#AAAAAA;
}

.ef-code, .ef-command, .ef-response {
	display:block;
	padding:8px;
}

.ef-command {
	margin:5px 0 3px 0;
}
.ef-response {
	background-color:#EEEEEE;
	color:#555555;
	margin-left:15px;
}

.subhead {
	margin-left:-11px;
	margin-right:-11px;
}

.ef-mono {
	font-family:"Courier New", Courier, monospace;
}

.alert-lg {
	font-size:20px;
	padding:10px;
}

.pwd-hide {
	color:rgba(0,0,0,0);
}

.pwd-open {
	color:rgba(0,0,0,1);
}

.pwd-reveal {
	cursor:pointer;
}

.mark-box {
	display:inline-block;
	width:20px;
	height:20px;
	float:right;
}