/* CSS Document */
@import url("design-default.css");

body {
	overflow-Y:auto;
}

.btn-inline {
	margin-bottom:6px;
	margin-right:3px;
}

.grey {
	color:#AAAAAA;
}

.ef-code, .ef-command, .ef-response {
	display:block;
	padding:8px;
}

.ef-command {
	margin:5px 0 3px 0;
}
.ef-response {
	background-color:#EEEEEE;
	color:#555555;
	margin-left:15px;
}